body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
   /* background-color: #ff69b49d; */
   background-image: url(https://cdn.pixabay.com/photo/2017/01/11/10/25/headsets-1971383_640.jpg);

}

form{

    background-color: #dc143c8a;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px #272626, 20px 20px 10px  #db1578;
}

label{
    font-weight: bold;
    display: block;
    margin: 10px 0 5px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="date"],
input[type="tel"],
input[type="color"],
select,
textarea{
    padding-bottom: 10px;
    margin-bottom: 12px;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
    box-sizing: border-box;
    width: calc(100% - 25px);


}


input[type="range"] {
    width: 55%;
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

input[type="file"] {
    margin-top: 10px;
}

button{
    width: 80px;
    padding: 10px;
    background-color: #7c3140;
    color: #deb887;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #dc143c;
}

.small-input {
    width: auto;
    display: inline-block;
}

.inline-label {
    display: inline-block;
    margin-right: 10px;
} 

